html {
  font-size: 62.5%;
  padding: 0;
  margin: 5rem 7.5rem 7.5rem 7.5rem;
  box-sizing: border-box;
  background-color: #fbede7;
}

body {
  font-size: 2rem;
  font-weight: 400;
  color: #222;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  gap: 5rem;
}

.table {
  position: relative;
  display: flex;
  background-color: #822b09;
  width: 26.75rem;
  height: 50rem;
  border: 1px solid #160701;
}

.color-pick-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 10rem;
  background-color: #822b09;
  /* border: 1px solid black; */
  width: 21.75rem;
  column-gap: 1rem;
  bottom: -25%;
  left: 9%;
}

.colors {
  width: 4rem;
  height: 4rem;
  background-color: #ced4da;
  border-radius: 50%;
  cursor: pointer;
}

.guess-dots {
  width: 4rem;
  height: 4rem;
  background-color: #ced4da;
  border-radius: 50%;
}
.red {
  background-color: rgb(201, 42, 42);
}

.orange {
  /* background-color: #f76707; */
  background-color: rgb(247, 103, 7);
}

.yellow {
  /* background-color: #ffd43b; */
  background-color: rgb(255, 212, 59);
}
.green {
  /* background-color: #94d82d; */
  background-color: rgb(148, 216, 45);
}
.blue {
  /* background-color: #1864ab; */
  background-color: rgb(24, 100, 171);
}
.purple {
  /* background-color: #7950f2; */
  background-color: rgb(121, 80, 242);
}
.cyan {
  background-color: #0b7285;
  background-color: rgb(102, 217, 232);
}
.black {
  /* background-color: #000000; */
  background-color: rgb(0, 0, 0);
}

.delete-btn {
  position: absolute;
  bottom: -35%;
  left: 28%;
  font-size: 2rem;
  border-radius: 5px;
  padding: 0.6rem;
  font-size: 1.8rem;
  color: #0d0401;
  background-color: #cdaa9d;
  transition: ease-in-out 0.5s;
  opacity: 80%;
}

.delete-btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 100%;
}

.guess-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #822b09;
  /* border: 1px solid black; */
  box-shadow: inset 0 0 0 0.1rem #160701;
  width: 21.75rem;
  gap: 1rem;
}

.right-side {
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
  width: 5rem;
  height: 50rem;
}
.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 5rem;
  box-shadow: inset 0 0 0 0.1rem #160701;
}

.check-dots {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #160701;
  margin: 0.15rem;
  border-radius: 50%;
}

.controller-box {
  justify-self: start;
  align-self: center;
  background-color: #822b09;
  width: 10rem;
  height: 30rem;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  gap: 2.5rem;
}

.close-btn {
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.current {
  box-shadow: 0rem 0rem 0.6rem 0.5rem rgba(205, 170, 157, 0.6);
}

/* HELPER CLASSES */

.btn {
  font-size: 2rem;
  border-radius: 5px;
  padding: 0.6rem;
  font-size: 1.8rem;
  color: #0d0401;
  background-color: #cdaa9d;
  opacity: 70%;
  transition: ease-in-out 0.5s;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
  opacity: 100%;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 2;
}

.box-shadow {
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.6);
}

.active {
  border: 2px solid black;
}

.bullseye {
  background-color: #000000;
}

.close-btn {
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #adb5bd;
  padding: 2.5rem;
  border-radius: 5px;
  z-index: 3;
}
